body {
    font-family: "Georgia", Times, "Times New Roman", serif;
    background-color: #ffffff;
    background: url("../images/round.png");
    width: 960px;
}

.menu-left {
    font-family: "Georgia", Times, "Times New Roman", serif;
    width: 40%;
    height: 50px;    
    padding-top: 10px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
    float: left;
    border-bottom: 5px solid lightgrey;
 }

.menu-right {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    width: 60%;
    height: 50px;
    padding-top: 31px;
    font-size: 18px;
    background-color: #ffffff;
    text-align: right;
    word-spacing: 10px;
    color: grey;
    float: left;
    border-bottom: 5px solid lightgrey;
}

a {
    color: gray;
    text-decoration: none;
}

h2 {
    clear: both;
    font-family: "Georgia", Times, "Times New Roman", serif;
    color: #4aaaa5;
}

.headshot {
    float: left;
    padding: 5px;    
}

p {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

footer {
    height: 30px;
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    border-top: 8px solid #4aaaa5;
    
}